{% extends "base.html" %}
{% block title %}Dashboard | Update{% endblock title %}
{% block body %}
    <div class="container">
        <div class="d-flex justify-content-center">
            {% for number in numbers %}
        <form action="{% url 'number_update' number.id %}" class="common_form mt-5" method="post">
            {% csrf_token %}
            <div class="b_input">
                <label for="new_number">Number</label>
                <input type="text" id="new_number" name="new_number" value="{{number.number}}">
            </div>
            <button type="submit" class="submitBtn">Update</button>
        </form>
        {% endfor %}

            {% if emails %}
            {% for email in emails %}
                <form action="{% url 'email_update' email.id %}" method="post" class="common_form mt-5">
                    {% csrf_token %}
                    <div class="b_input">
                        <label for="new_email">Email</label>
                        <input type="email" id="new_email" name="new_email" value="{{email.email}}">
                    </div>
                    <button type="submit" class="submitBtn">Update</button>
                </form>
                {% endfor %}
            {% endif %}

        {% for social in socials %}
        <form action="{% url 'social_update' social.id %}" method="post" class="common_form mt-5">
            {% csrf_token %}
            <div class="b_input">
                <label for="new_icon_name">Icon Name</label>
                <input type="text" id="new_icon_name" name="new_icon_name" value="{{social.icon}}">
            </div>
            <div class="b_input">
                <label for="new_link">Link</label>
                <input type="text" id="new_link" name="new_link" value="{{social.link}}">
            </div>
            <button type="submit" class="submitBtn">Update</button>
        </form>
        {% endfor %}
        </div>
    </div>
{% endblock body %}