    {% extends "base.html" %}
    {% load static %}
    {% block title %}MD KAWSAR DEV{% endblock title %}
    {% block body %}
    <!-- Preloader -->
    <div class="loader">
        <div class="mySpinner invisible">
        </div>
        <div class="spiContainer ">
            <div class="spinner">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <div class="toTop d-none">
        <button type="button" class="topBtn"><span class="arr"><i class="fa-solid fa-chevron-up"></i></span></button>
    </div>
    <div class="loginContainer d-none">
        <div class="form login_form d-none">
            <div class="close"><i class="fa-solid fa-xmark"></i></div>
            <h2>Login</h2>
            <form action="/navbar/" method="post">
                {% csrf_token %}
                <label for="user">Username:</label>
                <input type="text" id="user" name="username" required>
                <label for="pass">Password:</label>
                <div class="loginInput forEye">
                    <input type="password" id="pass" name="password" required>
                    <div class="loginEyes eyes">
                        <span class="openEye1 d-none"><i class="fa-solid fa-eye"></i></span>
                        <span class="closeEye1"><i class="fa-solid fa-eye-slash"></i></span>
                    </div>
                </div>
                <div class="contactBtn">
                    <button type="submit" class="actionBtn">Login</button>
                </div>
                <div class="forgotLink">
                    <p class="mb-0 mt-1 text-decoration-underline">Forgot Password?</p>
                </div>
            </form>
        </div>
        <div class="form login_form recoverForm d-none">
            <div class="close reClose"><i class="fa-solid fa-xmark"></i></div>
            <h2>Recover Password</h2>
            <form action="#">
                <label for="pass1">Old Password:</label>
                <input type="password" id="pass1" required>
                <label for="pass2">New Password:</label>
                <div class="newInput forEye">
                    <input type="password" id="pass2" required>
                    <div class="newEyes eyes">
                        <span class="openEye2 d-none"><i class="fa-solid fa-eye"></i></span>
                        <span class="closeEye2"><i class="fa-solid fa-eye-slash"></i></span>
                    </div>
                </div>

                <label for="pass3">Confirm Password:</label>
                <div class="conInput forEye">
                    <input type="password" id="pass3" required>
                    <div class="conEyes eyes">
                        <span class="openEye3 d-none"><i class="fa-solid fa-eye"></i></span>
                        <span class="closeEye3"><i class="fa-solid fa-eye-slash"></i></span>
                    </div>
                </div>

                <div class="contactBtn">
                    <button type="submit" class="actionBtn">Save</button>
                </div>
                <div class="loginLink">
                    <p class="mb-0 mt-1 text-decoration-underline">Login</p>
                </div>
            </form>
        </div>
    </div>

    <!-- Preloader -->
    <header class="header">


        <div class="navbar">
            <div class="logo"><a href="index.html"><img src="{% static 'media/logo/logo.png'%}" class="w-100 h-100"
                        alt="logo"></a></div>
            <div class="menubar hide">
                <ul class="menus hide">
                    <li><a href="#" id="top" class="link linking active">Home</a></li>
                    <li><a href="#about" class="link linking">About</a></li>
                    <li><a href="#skill" class="link linking">Skills</a></li>
                    <li><a href="#service" class="link linking">Service</a></li>
                    <li><a href="#portfolio" class="link linking">Portfolio</a></li>
                    <li><a href="#review" class="link linking">Review</a></li>
                    <li><a href="#contact" class="link linking">Contact</a></li>
                    <div class="login"><span><i class="fa-solid fa-user"></i></span></div>
                </ul>
            </div>
            <button type="button" class="toggle">
                <div class="open">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
            </button>
        </div>
        </div>
    </header>
    {% if messages %}
    {% for message in messages %}
    <div class="alert text-center alert-success {{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    <section class="banner">
        <div class="circle_container">
            <div class="cirle">
                <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>

            </div>
        </div>
        {% if Banner_image %}
            {% for image in Banner_image %}
                <div class="b_img" style="background-image: url({{image.image.url}});"></div>
            {% endfor %}
        {% endif %}
        <div class="typWriter">
            <div id="typwriter">
                {% if Self_tags %}
                    {% for tag in Self_tags %}
                        <span class="self_tag">{{tag.self_tags}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="mini-stars">
            <span class="star"></span>
            <span class="star"></span>
            <span class="star"></span>
            <span class="star"></span>
            <span class="star"></span>
            <span class="star"></span>
            <span class="star"></span>
            <span class="star"></span>
            <span class="star"></span>
            <span class="star"></span>
            <span class="star"></span>
            <span class="star"></span>
            <span class="star"></span>
            <span class="star"></span>
            <span class="star"></span>
            <span class="star"></span>
            <span class="star"></span>
            <span class="star"></span>
            <span class="star"></span>
            <span class="star"></span>
            <span class="star"></span>
            <span class="star"></span>
        </div>
        <div class="title">
            <h1 class="heading">Hello! This is <span>Kawsar</span> </h1>
            <h2 class="heading">I'm a <span id="typewriter-text"></span></h2>
        </div>
    </section>
    <section class="about section common_section" id="about">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="common_title">
                        {% if Abouts %}
                            {% for about in Abouts %}
                                <h2 class="mb-lg-0">{{about.title}}</h2>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row about_text">
                <div class="col-lg-4 d-block d-lg-none p-0">
                    <div class="right">
                        <div class="profile">
                            {% if Abouts %}
                                {% for About in Abouts %}
                                    <img class="w-100 h-100" src="{{About.profile_image.url}}" alt="personal profile">
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="personal_details">
                            {% if Abouts %}
                                {% for About in Abouts %}
                                    <pre>
                                        {{About.profile_text}}
                                    </pre>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="left">
                        {% if Abouts %}
                            {% for About in Abouts %}
                                <p class="mb-lg-0">{{About.greeting}}<span>!</span></p>
                                <p class="mb-lg-0">
                                    {{About.description}}
                                </p>
                            {% endfor %}
                        {% endif %}
                        <div class="buttons">
                            {% if Abouts %}
                            {% for About in Abouts %}
                                <a href="{% static "media/documents/updatedCvofKawsar.pdf"%}" target="_blank" class="actionBtn">{{About.btn1}}</a>
                                <a href="{% static "media/documents/certificateOfWebDev.pdf"%}" target="_blank"
                                    class="actionBtn">{{About.btn2}}</a>
                            {% endfor %}
                        {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 d-none d-lg-block p-0">
                    <div class="right">
                        <div class="profile">
                            {% if Abouts %}
                                {% for About in Abouts %}
                                    <img class="w-100 h-100" src="{{About.profile_image.url}}" alt="personal profile">
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="personal_details">
                            {% if Abouts %}
                                {% for About in Abouts %}
                                    <pre>
                                        {{About.profile_text}}
                                    </pre>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row counter_points">
                <div class="col-lg-4">
                    {% if Abouts %}
                        {% for About in Abouts %}
                            <div class="point text-center counter1">
                                <h3><span>{{About.point1_number}}</span></h3>
                                <span>{{About.point1_text}}</span>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="col-lg-4">
                    {% if Abouts %}
                        {% for About in Abouts %}
                            <div class="point text-center counter2">
                                <h3><span>{{About.point2_number}}</span></h3>
                                <span>{{About.point2_text}}</span>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="col-lg-4">
                    {% if Abouts %}
                        {% for About in Abouts %}
                            <div class="point text-center counter3">
                                <h3><span>{{About.point3_number}}</span>+</h3>
                                <span>{{About.point3_text}}</span>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <section class="mySkills section common_section" id="skill">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="common_title">
                        {% if Skill_title %}
                        {% for s_title in Skill_title %}
                        <h2 class="mb-lg-0">{{s_title.title}}</h2>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="skills" id="skills">
                        {% if Skills %}
                            {% for skill in Skills %}
                                <div class="skill">
                                    <span class="tag">{{skill.range_text}}</span>
                                    <div class="skill-bar">
                                    <div class="skill-level" data-percent="{{skill.range_percentage}}">
                                        <div class="runningAnimation"></div>
                                        <span class="skill-percent">0%</span>
                                    </div>
                                </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <!-- Repeat for other skills -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="service section common_section" id="service">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="common_title">
                        {% if Service_title %}
                        {% for s_title in Service_title %}
                        <h2 class="mb-lg-0">{{s_title.title}}</h2>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                {% if Services %}
                    {% for Service in Services %}
                        <div class="col-xl-4 col-sm-6">
                            <div class="single_service">
                                <div class="details">
                                    <span class="icon"><i class="{{Service.service_icon}}"></i></span>
                                    <h3>{{Service.service_name}}</h3>
                                    <p>{{Service.service_description}}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>
    <section class="portfolio section common_section" id="portfolio">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="common_title">
                        {% if Porfolio_title %}
                            {% for p_title in Porfolio_title %}
                                <h2 class="mb-lg-0">{{p_title.title}}</h2>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="mixItUp">
                        <div class="itemBtn">
                            <ul>
                                <li class="list active" data-filter="all">All</li>
                                <li class="list" data-filter="frontend">Front-End</li>
                                <li class="list" data-filter="backend">Back-End</li>
                                <li class="list" data-filter="wordpress">WordPress</li>
                                <li class="list" data-filter="react">React</li>
                            </ul>
                        </div>
                        <div class="itemBox">
                            {% if Porfolios %}
                                {% for Porfolio in Porfolios %}
                                    <div class="items" data-item="{{Porfolio.filter_keyword}}">
                                        <a href="{{Porfolio.project_url}}" target="_blank">
                                            <img class="w-100 h-100" src="{{Porfolio.project_image.url}}" alt="{{Porfolio.filter_keyword}}">
                                        </a>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="testimonial section common_section" id="review">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="common_title">
                        {% if Client_title %}
                            {% for c_title in Client_title %}
                                <h2 class="mb-lg-0">{{c_title.title}}</h2>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="swiper">
                        <ul class="list ps-0 m-0 swiper-wrapper">
                            {% if ClientReviews %}
                                {% for ClientReview in ClientReviews %}
                                    <li class="item swiper-slide">
                                        <span class="quate"><i class="fa-solid fa-quote-left"></i></span>
                                        <div class="client">
                                            <div class="client_pic"><img src="{{ClientReview.client_photo.url}}"
                                                    class="w-100 h-100" alt=""></div>
                                            <div class="c_name mb-xl-3 text-center mt-xl-2">
                                                <p class="mb-xl-0 text-uppercase">{{ClientReview.client_name}}</p>
                                                <p class="mb-xl-0">{{ClientReview.client_profession}}</p>
                                            </div>
                                        </div>
                                        <p>{{ClientReview.client_comments}}</p>
                                        <span class="heart"><i class="fa-solid fa-heart"></i></span>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="contact section common_section" id="contact">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="common_title">
                        {% if Contact_title %}
                            {% for con_title in Contact_title %}
                                <h2 class="mb-lg-0">{{con_title.title}}</h2>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row contact_parent overflow-hidden">
                <div class="col-lg-5">
                    <div class="form">
                        {% if Contact_title %}
                            {% for message in Contact_title %}
                                <h2>{{message.msg}}</h2>
                            {% endfor %}
                        {% endif %}
                        <form action="/contact/" method="post">
                            {% csrf_token %}
                            <label for="Name">Name:</label>
                            <input type="text" id="Name" name="name" required>
                            <label for="Email">Email:</label>
                            <input type="email" id="Email" name="email" required>
                            <label for="Phn">Phone:</label>
                            <input type="number" id="Phn" name="phone" required>
                            <div class="contactBtn">
                                <button type="submit" class="actionBtn">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-7 d-none d-lg-flex px-0">
                    <div class="contact_img h-100">
                        {% if Contact_title %}
                            {% for image in Contact_title %}
                                <img src="{{image.contact_image.url}}" class="w-100 h-100" alt="">
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer common_section">
        <div class="f_details">
            <div class="container">
                <div class="row firtsRow">
                    <div class="col-lg-6">
                        <div class="f_left">
                            <h2>Inform Me</h2>
                            {% if ContactNumbers %}
                                {% for contact in ContactNumbers %}
                                    <span>{{contact.number}}</span>
                                {% endfor %}
                            {% endif %}
                            {% if ContactEmails %}
                                {% for email in ContactEmails %}
                                    <span>Email: {{email.email}}</span>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="f_right">
                            <h2>Social Media</h2>
                            <div class="socials">
                                {% if SocialMedias %}
                                    {% for social in SocialMedias %}
                                        <a href="{{social.link}}" target="_blank"><span><i
                                                class="{{social.icon}}"></i></span></a>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="copyRight">
                            {% if FooterTexts %}
                                {% for text in FooterTexts %}
                                    <p>&copy;{{text.footer_texts}}</p>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </footer>
    {% endblock body %}