{% extends "base.html" %}
{% block title %}Dashboard | Update{% endblock title %}
{% block body %}
    <div class="container">
        <form class="common_form mt-lg-5" action="/insert_updated_data/" method="post">
        {% csrf_token %}
        <div class="b_input">
            <label for="titleName">Name Title</label>
            {% if update %}
                {% for tag in update %}
                    <input type="hidden" name="id" value="{{tag.id}}">
                    <input type="text" id="titleName" name="tag_name" value="{{tag.self_tags}}">
                {% endfor %}
            {% endif %}
        </div>
        <button type="submit" class="submitBtn">Save</button>
    </form>
    <div class="text-end">
        <a href="{% url "banner" %}">Go Back</a>
    </div>
    </div>
{% endblock body %}