{% extends "base.html" %}
{% block title %}Dashboard | Banner{% endblock title %}
{% block body %}
{% if messages %}
{% for message in messages %}
<div class="alert position-fixed top-0 w-100 text-center alert-success {{ message.tags }} alert-dismissible fade show" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %} 
    <div class="dash_container">
        <div class="dashboard_navbar">
            <div class="dash_title">
                <h1 class="mb-0">Dashboard</h1>
            </div>
            <h5 class="website"><a href="{% url "home" %}" target="_blank">Website <i class="fa-solid fa-arrow-up-right-from-square"></i></a></h5>
            <ul class="p-0">
                <li class="text-center"><a class="text-decoration-none d_link " href="/navbar">Navbar</a></li>
                <li class="text-center"><a class="text-decoration-none d_link d_active" href="/banner">Banner</a>
                </li>
                <li class="text-center"><a class="text-decoration-none d_link" href="/about">About</a></li>
                <li class="text-center"><a class="text-decoration-none d_link" href="/skill">Skills</a></li>
                <li class="text-center"><a class="text-decoration-none d_link" href="/service">Services</a></li>
                <li class="text-center"><a class="text-decoration-none d_link" href="/portfolio">Portfolio</a></li>
                <li class="text-center"><a class="text-decoration-none d_link" href="/testimonial">Testimonial</a>
                </li>
                <li class="text-center"><a class="text-decoration-none d_link" href="/contact">Contact</a></li>
                <li class="text-center"><a class="text-decoration-none d_link" href="/footer">Footer</a></li>
            </ul>
            <div class="text-center">
                <a href="/logout">Logout</a>
            </div>
        </div>
        <div class="d_content">
            <div class="container">
                <h2>Banner Details</h2>
                <div class="banner_details d-flex justify-content-between">
                    <div class="banner_form mt-5">
                        <form class="common_form" action="/banner/" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="b_input">
                                <label for="im">Banner Image</label>
                                <input type="file" id="im" name="image">
                            </div>
                            <button type="submit" class="submitBtn mb-lg-5">Add</button>
                        </form>
                        <form class="common_form" action="/banner/" method="post">
                            {% csrf_token %}
                            <div class="b_input">
                                <label for="titleName">Enter your tag:</label>
                                <input type="text" id="titleName" name="title_name" required>
                            </div>
                            <button type="submit" class="submitBtn">Add</button>
                        </form>
                    </div>
                    <div class="banner_preview">
                        <div class="preview_image">
                            <table>
                                <tr>
                                    <th><h3>Preview Image</h3></th>
                                    <th><h3><i class="fa-solid fa-pen"></i></h3></th>
                                </tr>
                                {% if banner_img %}
                                    {% for b_img in banner_img %}
                                        <tr>
                                            <td><img src="{{b_img.image.url}}" class="w-100" alt=""></td>
                                            <td><a href="{% url 'updateimage' b_img.id %}" class="submitBtn my-1">Update</a></td>
                                        </tr>
                                    {% endfor %}
                                    {% else %}
                                    <td>No images to show</td>
                                {% endif %}
                            </table>
                        </div>
                        <div class="preview_title mt-5">
                            <table class="w-100">
                                <tr>
                                    <th>Preview Tags</th>
                                    <th><i class="fa-solid fa-pen"></i></th>
                                </tr>
                                
                                {% if banner_tag %}
                                    {% for my_tag in banner_tag %}
                                <tr>
                                    <td>{{my_tag.self_tags}}</td>
                                    <td class="d-flex gap-2 justify-content-center">
                                        <a href="{% url 'delete' my_tag.id %}" class="submitBtn text-decoration-none mt-1">Delete</a>
                                        <a href="{% url 'update' my_tag.id %}" class="submitBtn text-decoration-none mt-1">Update</a>
                                    </td>
                                </tr>
                                    {% endfor %}
                                {% endif %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}