{% extends "base.html" %}
{% block title %}Dashboard | Contact{% endblock title %}
{% block body %}
    <div class="dash_container">
        <div class="dashboard_navbar">
            <div class="dash_title">
                <h1 class="mb-0">Dashboard</h1>
            </div>
            <h5 class="website"><a href="/" target="_blank">Website <i class="fa-solid fa-arrow-up-right-from-square"></i></a></h5>
            <ul class="p-0">
                <li class="text-center"><a class="text-decoration-none d_link " href="/navbar">Navbar</a></li>
                <li class="text-center"><a class="text-decoration-none d_link" href="/banner">Banner</a></li>
                <li class="text-center"><a class="text-decoration-none d_link" href="/about">About</a></li>
                <li class="text-center"><a class="text-decoration-none d_link" href="/skill">Skills</a></li>
                <li class="text-center"><a class="text-decoration-none d_link" href="/service">Services</a></li>
                <li class="text-center"><a class="text-decoration-none d_link" href="/portfolio">Portfolio</a></li>
                <li class="text-center"><a class="text-decoration-none d_link" href="/testimonial">Testimonial</a></li>
                <li class="text-center"><a class="text-decoration-none d_link d_active" href="/contact">Contact</a></li>
                <li class="text-center"><a class="text-decoration-none d_link" href="/footer">Footer</a></li>
            </ul>
            <div class="text-center">
                <a href="/logout">Logout</a>
            </div>
        </div>
        <div class="d_content">
            <div class="container">
                <h2>Contact Details</h2>
                <h5 class="inbox">Inbox</h5>
                <table>
                    <tr>
                        <th>Client Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Manage</th>
                    </tr>
                    <tr>
                        <td>imo</td>
                        <td>imo@gmail.com</td>
                        <td>xxxxxxxxx</td>
                        <td><a href="#" class="editBtn">Delete</a></td>
                    </tr>
                    <tr>
                        <td>imo</td>
                        <td>imo@gmail.com</td>
                        <td>xxxxxxxxx</td>
                        <td><a href="#" class="editBtn">Delete</a></td>
                    </tr>
                    <tr>
                        <td>imo</td>
                        <td>imo@gmail.com</td>
                        <td>xxxxxxxxx</td>
                        <td><a href="#" class="editBtn">Delete</a></td>
                    </tr>
                    <tr>
                        <td>imo</td>
                        <td>imo@gmail.com</td>
                        <td>xxxxxxxxx</td>
                        <td><a href="#" class="editBtn">Delete</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock body %}