{% extends "base.html" %}
{% block title %}Dashboard | Footer{% endblock title %}
{% block body %}
{% if messages %}
{% for message in messages %}
<div class="alert position-fixed top-0 w-100 text-center alert-success {{ message.tags }} alert-dismissible fade show" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %} 
    <div class="dash_container">
        <div class="dashboard_navbar">
            <div class="dash_title">
                <h1 class="mb-0">Dashboard</h1>
            </div>
            <h5 class="website"><a href="/" target="_blank">Website <i class="fa-solid fa-arrow-up-right-from-square"></i></a></h5>
            <ul class="p-0">
                <li class="text-center list-unstyled"><a class="text-decoration-none d_link" href="{% url 'navbar' %}">Navbar</a></li>
                <li class="text-center list-unstyled"><a class="text-decoration-none d_link" href="{% url 'banner' %}">Banner</a></li>
                <li class="text-center list-unstyled"><a class="text-decoration-none d_link" href="{% url 'about' %}">About</a></li>
                <li class="text-center list-unstyled"><a class="text-decoration-none d_link" href="{% url 'skill' %}">Skills</a></li>
                <li class="text-center list-unstyled"><a class="text-decoration-none d_link" href="{% url 'service' %}">Services</a></li>
                <li class="text-center list-unstyled"><a class="text-decoration-none d_link" href="{% url 'portfolio' %}">Portfolio</a></li>
                <li class="text-center list-unstyled"><a class="text-decoration-none d_link" href="{% url 'testimonial' %}">Testimonial</a>
                </li>
                <li class="text-center list-unstyled"><a class="text-decoration-none d_link" href="{% url 'contact' %}">Contact</a></li>
                <li class="text-center list-unstyled"><a class="text-decoration-none d_link d_active" href="{% url 'footer' %}">Footer</a></li>
            </ul>
            <div class="text-center">
                <a href="{% url 'logout' %}" class="link_color">Logout</a>
            </div>
        </div>
        <div class="d_content d-flex">
            <div class="container">
                <h2>Footer Details</h2>
                <table>
                    <tbody>
                        <tr>
                            <th>Phone</th>
                            <th><i class="fa-solid fa-pen"></i></th>
                        </tr>
                        {% if numbers %}
                            {% for number in numbers %}
                                <tr>
                                    <td>{{number.number}}</td>
                                    <td>
                                        <a href="#" class="submitBtn my-1 d-inline-block">Edit</a>
                                        <a href="#" class="submitBtn my-1 d-inline-block">Delete</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td>No numbers added</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
                <table>
                    <tbody>
                        <tr>
                            <th>Emails</th>
                            <th><i class="fa-solid fa-pen"></i></th>
                        </tr>
                        {% if emails %}
                            {% for email in emails %}
                                <tr>
                                    <td>{{email.email}}</td>
                                    <td>
                                        <a href="#" class="submitBtn my-1 d-inline-block">Edit</a>
                                        <a href="#" class="submitBtn my-1 d-inline-block">Delete</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td>No emails added</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
                <table>
                    <tbody>
                        <tr>
                            <th>Social Medias</th>
                            <th>Link</th>
                            <th><i class="fa-solid fa-pen"></i></th>
                        </tr>
                        {% if socials %}
                            {% for social in socials %}
                                <tr>
                                    <td><i class="{{social.icon}}"></i></td>
                                    <td>{{social.link}}</td>
                                    <td>
                                        <a href="#" class="submitBtn my-1 d-inline-block">Edit</a>
                                        <a href="#" class="submitBtn my-1 d-inline-block">Delete</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td>No social medias added</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
            <div class="footer_texts">
                <form action="{% url 'footer_update' %}" class="common_form" method="post">
                    {% csrf_token %}
                    {% for text in texts %}
                    <div class="b_input">
                        <label for="Copy">Copyright Texts</label>
                        <textarea name="copyright" id="Copy" class="textArea bg-transparent border-light">{{text.footer_texts}}</textarea>
                    </div>
                    {% endfor %}
                    <button type="submit" class="submitBtn">Update</button>
                </form>
            </div>
        </div>
    </div>
{% endblock body %}