{% extends "base.html" %}
{% block title %}Dashboard | Footer{% endblock title %}
{% block body %}
{% if messages %}
{% for message in messages %}
<div class="alert position-fixed top-0 w-100 text-center alert-success {{ message.tags }} alert-dismissible fade show" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
<div class="dash_parent d-flex">
    <div class="dashboard_navbar">
        <div class="dash_title">
            <h1 class="mb-0">Dashboard</h1>
        </div>
        <h5 class="website"><a href="/" target="_blank">Website <i class="fa-solid fa-arrow-up-right-from-square"></i></a></h5>
        <ul class="p-0">
            <li class="text-center list-unstyled"><a class="text-decoration-none d_link" href="{% url 'navbar' %}">Navbar</a></li>
            <li class="text-center list-unstyled"><a class="text-decoration-none d_link" href="{% url 'banner' %}">Banner</a></li>
            <li class="text-center list-unstyled"><a class="text-decoration-none d_link" href="{% url 'about' %}">About</a></li>
            <li class="text-center list-unstyled"><a class="text-decoration-none d_link" href="{% url 'skill' %}">Skills</a></li>
            <li class="text-center list-unstyled"><a class="text-decoration-none d_link" href="{% url 'service' %}">Services</a></li>
            <li class="text-center list-unstyled"><a class="text-decoration-none d_link" href="{% url 'portfolio' %}">Portfolio</a></li>
            <li class="text-center list-unstyled"><a class="text-decoration-none d_link" href="{% url 'testimonial' %}">Testimonial</a>
            </li>
            <li class="text-center list-unstyled"><a class="text-decoration-none d_link" href="{% url 'contact' %}">Contact</a></li>
            <li class="text-center list-unstyled"><a class="text-decoration-none d_link d_active" href="{% url 'footer' %}">Footer</a></li>
        </ul>
        <div class="text-center">
            <a href="{% url 'logout' %}" class="link_color">Logout</a>
        </div>
    </div>
    <div class="dash_container">
        <div class="d_content d-flex">
            <div class="container">
                <h2>Footer Details</h2>
                <table>
                    <tbody>
                        <tr>
                            <th>Numbers</th>
                        </tr>
                        {% for number in numbers %}
                        <tr>
                            <td>
                                <a href="#" class="">{{number.number}}</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <table>
                    <tbody>
                        <tr>
                            <th>Email</th>
                        </tr>
                        {% for email in emails %}
                        <tr>
                            <td>
                                <a href="#" class="">{{email.email}}</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <form action="{% url 'footer_update' %}" class="common_form mt-5" method="post">
                    {% for number in numbers %}
                    <div class="phone b_input">
                        <label for="phone">Phones</label>
                        <input class="mb-3" type="text" id="phone" name="phone1" value="{{number.number}}">
                    </div>
                    {% endfor %}
                    {% for email in emails %}
                    <div class="b_input email">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" value="{{email.email}}">
                    </div>
                    {% endfor %}
                    {% for social in socials %}
                    <div class="b_input socials">
                        <div>
                            <div><i class="{{social.icon}}"></i></div><input class="mb-3" type="text" name="icon" value="{{social.icon}}">
                            <input type="text" name="link" value="{{social.link}}">
                        </div>
                    </div>
                    {% endfor %}
                    <button type="submit" class="submitBtn">Update</button>
                </form>
            </div>
            <div class="footer_texts">
                <form action="{% url 'footer_update' %}" class="common_form" method="post">
                    {% csrf_token %}
                    {% for text in texts %}
                    <div class="b_input">
                        <label for="Copy">Copyright Texts</label>
                        <textarea name="copyright" id="Copy" class="textArea bg-transparent border-light">{{text.footer_texts}}</textarea>
                    </div>
                    {% endfor %}
                    <button type="submit" class="submitBtn">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock body %}