<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="icon" href="../content/logo/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/bootstrap-files/bootstrap.min.css">
    <link rel="stylesheet" href="../css/custom-css/style.css">
    <link rel="stylesheet" href="../css/custom-css/responsive.css">
</head>

<body>
    <div class="dash_container">
        <div class="dashboard_navbar">
            <div class="dash_title">
                <h1 class="mb-0">Dashboard</h1>
            </div>
            <h5 class="website"><a href="../index.html" target="_blank">Website <i class="fa-solid fa-arrow-up-right-from-square"></i></a></h5>
            <ul class="p-0">
                <li class="text-center"><a class="text-decoration-none d_link d_active" href="navbar.html">Navbar</a></li>
                <li class="text-center"><a class="text-decoration-none  d_link" href="banner.html">Banner</a></li>
                <li class="text-center"><a class="text-decoration-none d_link" href="about.html">About</a></li>
                <li class="text-center"><a class="text-decoration-none d_link" href="skill.html">Skills</a></li>
                <li class="text-center"><a class="text-decoration-none d_link" href="service.html">Services</a></li>
                <li class="text-center"><a class="text-decoration-none d_link" href="portfolio.html">Portfolio</a></li>
                <li class="text-center"><a class="text-decoration-none d_link" href="testimonial.html">Testimonial</a></li>
                <li class="text-center"><a class="text-decoration-none d_link" href="contact.html">Contact</a></li>
                <li class="text-center"><a class="text-decoration-none d_link" href="footer.html">Footer</a></li>
            </ul>
        </div>
        <div class="d_content">
            <div class="container">
                <h2>Navbar Details</h2>
            </div>
        </div>
    </div>
    <script src="../fontawesome/fontawesome.js"></script>
</body>

</html>