{% extends "base.html" %}
{% block title %}Dashboard | Portfolio{% endblock title %}
{% block body %}
    <div class="dash_container">
        <div class="dashboard_navbar">
            <div class="dash_title">
                <h1 class="mb-0">Dashboard</h1>
            </div>
            <h5 class="website"><a href="/" target="_blank">Website <i class="fa-solid fa-arrow-up-right-from-square"></i></a></h5>
            <ul class="p-0">
                <li class="text-center list-unstyled"><a class="text-decoration-none d_link" href="{% url 'navbar' %}">Navbar</a></li>
                <li class="text-center list-unstyled"><a class="text-decoration-none d_link" href="{% url 'banner' %}">Banner</a></li>
                <li class="text-center list-unstyled"><a class="text-decoration-none d_link" href="{% url 'about' %}">About</a></li>
                <li class="text-center list-unstyled"><a class="text-decoration-none d_link" href="{% url 'skill' %}">Skills</a></li>
                <li class="text-center list-unstyled"><a class="text-decoration-none d_link" href="{% url 'service' %}">Services</a></li>
                <li class="text-center list-unstyled"><a class="text-decoration-none d_link d_active" href="{% url 'portfolio' %}">Portfolio</a></li>
                <li class="text-center list-unstyled"><a class="text-decoration-none d_link" href="{% url 'testimonial' %}">Testimonial</a>
                </li>
                <li class="text-center list-unstyled"><a class="text-decoration-none d_link" href="{% url 'contact' %}">Contact</a></li>
                <li class="text-center list-unstyled"><a class="text-decoration-none d_link" href="{% url 'footer' %}">Footer</a></li>
            </ul>
            <div class="text-center">
                <a href="{% url 'logout' %}">Logout</a>
            </div>
        </div>
        <div class="d_content d-flex">
            <div class="container">
                <h2>Portfolio Details</h2>
                <div class="banner_form mt-5">
                    <form class="common_form" action="{% url 'insert_data' %}" method="post">
                        <div class="b_input">
                            <label for="portfolio">Portfolio Title</label>
                            <input type="text" id="portfolio" name="">
                        </div>
                        <button type="submit" class="submitBtn mb-lg-5">Add</button>
                    </form>
                    <form class="common_form" action="#" method="post" enctype="multipart/form-data">
                        <div class="b_input">
                            <label for="category">Category Name</label>
                            <input type="text" id="category" name="category">
                        </div>
                        <div class="b_input">
                            <label for="c_image">Category Image</label>
                            <input type="file" id="c_image" name="c_image">
                        </div>
                        <div class="b_input">
                            <label for="link">Category Link</label>
                            <input type="text" id="link" name="link" placeholder="https://example.com">
                        </div>
                        <button type="submit" class="submitBtn">Add</button>
                    </form>
                </div>
            </div>
            <table>
                <tbody>
                    <tr>
                        <th>Portfolio name</th>
                    </tr>
                    <tr>
                        <td>Something</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock body %}