{% extends "base.html" %}
{% block title %}Dashboard | Portfolio{% endblock title %}
{% block body %}
    <div class="dash_container">
        <div class="dashboard_navbar">
            <div class="dash_title">
                <h1 class="mb-0">Dashboard</h1>
            </div>
            <h5 class="website"><a href="/" target="_blank">Website <i class="fa-solid fa-arrow-up-right-from-square"></i></a></h5>
            <ul class="p-0">
                <li class="text-center"><a class="text-decoration-none d_link " href="/navbar">Navbar</a></li>
                <li class="text-center"><a class="text-decoration-none d_link" href="/banner">Banner</a></li>
                <li class="text-center"><a class="text-decoration-none d_link" href="/about">About</a></li>
                <li class="text-center"><a class="text-decoration-none d_link" href="/skill">Skills</a></li>
                <li class="text-center"><a class="text-decoration-none d_link" href="/service">Services</a></li>
                <li class="text-center"><a class="text-decoration-none d_link d_active" href="/portfolio">Portfolio</a></li>
                <li class="text-center"><a class="text-decoration-none d_link" href="/testimonial">Testimonial</a></li>
                <li class="text-center"><a class="text-decoration-none d_link" href="/contact">Contact</a></li>
                <li class="text-center"><a class="text-decoration-none d_link" href="/footer">Footer</a></li>
            </ul>
            <div class="text-center">
                <a href="/logout">Logout</a>
            </div>
        </div>
        <div class="d_content">
            <div class="container">
                <h2>Portfolio Details</h2>
                <div class="banner_form mt-5">
                    <form class="common_form" action="#">
                        <div class="b_input">
                            <label for="portfolio">Portfolio Title</label>
                            <input type="text" id="portfolio" name="">
                        </div>
                        <div class="b_input">
                            <label for="category" class="d-inline-block ">Category Name</label> <span class="hint"><i class="fa-solid fa-circle-exclamation"></i></span><div class="d-inline-block" id="c_hint">Category name & Sub category name should be the same!</div>
                            <input type="text" id="category" name="">
                        </div>
                        <div class="b_input">
                            <label for="sub_c">Sub Category Name</label>
                            <input type="text" id="sub_c" name="">
                        </div>
                        <div class="b_input">
                            <label for="c_image">Category Image</label>
                            <input type="file" id="c_image" name="">
                        </div>
                        <div class="b_input">
                            <label for="link">Category Link</label>
                            <input type="text" id="link" name="" placeholder="https://example.com">
                        </div>
                        <button type="submit" name="" class="submitBtn">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}