{% extends "base.html" %}
{% block title %}Dashboard | Service{% endblock title %}
{% block body %}
{% if messages %}
{% for message in messages %}
<div class="alert position-fixed top-0 w-100 text-center alert-success {{ message.tags }} alert-dismissible fade show" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %} 
<div class="d_parent d-flex">

    <div class="dashboard_navbar">
        <div class="dash_title">
            <h1 class="mb-0">Dashboard</h1>
        </div>
        <h5 class="website"><a href="/" target="_blank">Website <i
                    class="fa-solid fa-arrow-up-right-from-square"></i></a></h5>
        <ul class="p-0">
            <li class="text-center list-unstyled"><a class="text-decoration-none d_link" href="{% url 'navbar' %}">Navbar</a></li>
            <li class="text-center list-unstyled"><a class="text-decoration-none d_link" href="{% url 'banner' %}">Banner</a></li>
            <li class="text-center list-unstyled"><a class="text-decoration-none d_link" href="{% url 'about' %}">About</a></li>
            <li class="text-center list-unstyled"><a class="text-decoration-none d_link" href="{% url 'skill' %}">Skills</a></li>
            <li class="text-center list-unstyled"><a class="text-decoration-none d_link d_active" href="{% url 'service' %}">Services</a></li>
            <li class="text-center list-unstyled"><a class="text-decoration-none d_link" href="{% url 'portfolio' %}">Portfolio</a></li>
            <li class="text-center list-unstyled"><a class="text-decoration-none d_link" href="{% url 'testimonial' %}">Testimonial</a>
            </li>
            <li class="text-center list-unstyled"><a class="text-decoration-none d_link" href="{% url 'contact' %}">Contact</a></li>
            <li class="text-center list-unstyled"><a class="text-decoration-none d_link" href="{% url 'footer' %}">Footer</a></li>
        </ul>
        <div class="text-center">
            <a href="{% url 'logout' %}" class="link_color">Logout</a>
        </div>
    </div>
    <div class="dash_container">
        <div class="d_content d-flex">
            <div class="container">
                <h2>Service Details</h2>
                <div class="banner_form mt-5">
                    <form class="common_form" action="{% url 'add_services_title' %}" method="post">
                        {% csrf_token %}
                        {% for title in service_title %}
                        <div class="b_input">
                            <label for="service">Service Title</label>
                            <input type="text" id="service" name="s_title" value="{{title.title}}">
                        </div>
                        {% endfor %}
                        <button type="submit" name="" class="submitBtn mb-lg-5">Update</button>
                    </form>
                    <form class="common_form" action="{% url 'add_services' %}" method="post">
                        {% csrf_token %}
                        <div class="b_input">
                            <label for="s_icon">Service Icon</label>
                            <input type="text" id="s_icon" name="s_icon">
                        </div>
                        <div class="b_input">
                            <label for="s_name">Service Name</label>
                            <input type="text" id="s_name" name="s_name">
                        </div>
                        <div class="b_input">
                            <label for="details">Service Details</label>
                            <textarea name="details" id="details" class="textArea"></textarea>
                        </div>
                        <button type="submit" name="" class="submitBtn">Add</button>
                    </form>
                </div>
            </div>
            <table class="service_table">
                <tbody>
                    <tr>
                        <th>Icon</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Operation</th>
                    </tr>
                    {% if all_data %}
                        {% for all in all_data %}
                            <tr>
                                <td><span><i class="{{all.service_icon}}"></i></span></td>
                                <td>{{all.service_name}}</td>
                                <td>{{all.service_description|truncatewords:5}}</td>
                                <td><a href="{% url 'delete_service' all.id %}" class="text-decoration-none link_color">Remove</a></td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock body %}