{% extends "base.html" %}
{% block title %}Dashboard | Service{% endblock title %}
{% block body %}
    <div class="dash_container">
        <div class="dashboard_navbar">
            <div class="dash_title">
                <h1 class="mb-0">Dashboard</h1>
            </div>
            <h5 class="website"><a href="/" target="_blank">Website <i
                        class="fa-solid fa-arrow-up-right-from-square"></i></a></h5>
            <ul class="p-0">
                <li class="text-center"><a class="text-decoration-none d_link " href="/navbar">Navbar</a></li>
                <li class="text-center"><a class="text-decoration-none d_link" href="/banner">Banner</a></li>
                <li class="text-center"><a class="text-decoration-none d_link" href="/about">About</a></li>
                <li class="text-center"><a class="text-decoration-none d_link" href="/skill">Skills</a></li>
                <li class="text-center"><a class="text-decoration-none d_link d_active" href="/service">Services</a>
                </li>
                <li class="text-center"><a class="text-decoration-none d_link" href="/portfolio">Portfolio</a></li>
                <li class="text-center"><a class="text-decoration-none d_link" href="/testimonial">Testimonial</a>
                </li>
                <li class="text-center"><a class="text-decoration-none d_link" href="/contact">Contact</a></li>
                <li class="text-center"><a class="text-decoration-none d_link " href="/footer">Footer</a></li>
            </ul>
        </div>
        <div class="d_content">
            <div class="container">
                <h2>Service Details</h2>
                <div class="banner_form mt-5">
                    <form class="common_form" action="#">
                        <div class="b_input">
                            <label for="service">Service Title</label>
                            <input type="text" id="service" name="">
                        </div>
                        <div class="b_input">
                            <label for="s_icon">Service Icon</label>
                            <input type="text" id="s_icon" name="">
                        </div>
                        <div class="b_input">
                            <label for="s_name">Service Name</label>
                            <input type="text" id="s_name" name="">
                        </div>
                        <div class="b_input">
                            <label for="details">Service Details</label>
                            <textarea name="" id="details" class="textArea"></textarea>
                        </div>
                        <button type="submit" name="" class="submitBtn">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}