{% extends "base.html" %}
{% block title %}Dashboard | Service{% endblock title %}
{% block body %}
    <div class="dash_container">
        <div class="dashboard_navbar">
            <div class="dash_title">
                <h1 class="mb-0">Dashboard</h1>
            </div>
            <h5 class="website"><a href="/" target="_blank">Website <i
                        class="fa-solid fa-arrow-up-right-from-square"></i></a></h5>
            <ul class="p-0">
                <li class="text-center list-unstyled"><a class="text-decoration-none d_link " href="{% url 'navbar' %}">Navbar</a></li>
                <li class="text-center list-unstyled"><a class="text-decoration-none d_link" href="{% url 'banner' %}">Banner</a></li>
                <li class="text-center list-unstyled"><a class="text-decoration-none d_link d_active" href="{% url 'about' %}">About</a></li>
                <li class="text-center list-unstyled"><a class="text-decoration-none d_link " href="{% url 'skill' %}">Skills</a></li>
                <li class="text-center list-unstyled"><a class="text-decoration-none d_link" href="{% url 'service' %}">Services</a></li>
                <li class="text-center list-unstyled"><a class="text-decoration-none d_link" href="{% url 'portfolio' %}">Portfolio</a></li>
                <li class="text-center list-unstyled"><a class="text-decoration-none d_link" href="{% url 'testimonial' %}">Testimonial</a>
                </li>
                <li class="text-center list-unstyled"><a class="text-decoration-none d_link" href="{% url 'contact' %}">Contact</a></li>
                <li class="text-center list-unstyled"><a class="text-decoration-none d_link " href="{% url 'footer' %}">Footer</a></li>
            </ul>
            <div class="text-center">
                <a href="/logout">Logout</a>
            </div>
        </div>
        <div class="d_content">
            <div class="container">
                <h2>Service Details</h2>
                <div class="banner_form mt-5">
                    <form class="common_form" action="#">
                        <div class="b_input">
                            <label for="service">Service Title</label>
                            <input type="text" id="service" name="">
                        </div>
                        <div class="b_input">
                            <label for="s_icon">Service Icon</label>
                            <input type="text" id="s_icon" name="">
                        </div>
                        <div class="b_input">
                            <label for="s_name">Service Name</label>
                            <input type="text" id="s_name" name="">
                        </div>
                        <div class="b_input">
                            <label for="details">Service Details</label>
                            <textarea name="" id="details" class="textArea"></textarea>
                        </div>
                        <button type="submit" name="" class="submitBtn">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}