{% extends "base.html" %}
{% block title %}Dashboard | Skill{% endblock title %}
{% block body %}
    <div class="dash_container">
        <div class="dashboard_navbar">
            <div class="dash_title">
                <h1 class="mb-0">Dashboard</h1>
            </div>
            <h5 class="website"><a href="/" target="_blank">Website <i class="fa-solid fa-arrow-up-right-from-square"></i></a></h5>
            <ul class="p-0">
                <li class="text-center"><a class="text-decoration-none d_link " href="/navbar">Navbar</a></li>
                <li class="text-center"><a class="text-decoration-none d_link" href="/banner">Banner</a></li>
                <li class="text-center"><a class="text-decoration-none d_link" href="/about">About</a></li>
                <li class="text-center"><a class="text-decoration-none d_link d_active" href="/skill">Skills</a></li>
                <li class="text-center"><a class="text-decoration-none d_link" href="/service">Services</a></li>
                <li class="text-center"><a class="text-decoration-none d_link" href="/portfolio">Portfolio</a></li>
                <li class="text-center"><a class="text-decoration-none d_link" href="/testimonial">Testimonial</a></li>
                <li class="text-center"><a class="text-decoration-none d_link" href="/contact">Contact</a></li>
                <li class="text-center"><a class="text-decoration-none d_link " href="/footer">Footer</a></li>
            </ul>
        </div>
        <div class="d_content">
            <div class="container">
                <h2>Skill Details</h2>
                <div class="banner_form mt-5">
                    <form class="common_form" action="#">
                        <div class="b_input">
                            <label for="skill">Skill Title</label>
                            <input type="text" id="skill" name="">
                        </div>
                        <div class="b_input">
                            <label for="s_name">Name of Skills</label>
                            <input type="text" id="s_name" name="">
                        </div>
                        <div class="b_input">
                            <label for="percent">Percent</label>
                            <input type="number" id="percent" name="">
                        </div>
                        <button type="submit" name="" class="submitBtn">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}