{% extends "base.html" %}
{% block title %}Dashboard | Testimonial{% endblock title %}
{% block body %}
{% if messages %}
{% for message in messages %}
<div class="alert position-fixed top-0 w-100 text-center alert-success {{ message.tags }} alert-dismissible fade show" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %} 
<div class="d_parent d-flex">
    <div class="dashboard_navbar">
        <div class="dash_title">
            <h1 class="mb-0">Dashboard</h1>
        </div>
        <h5 class="website"><a href="/" target="_blank">Website <i
                    class="fa-solid fa-arrow-up-right-from-square"></i></a></h5>
        <ul class="p-0">
            <li class="text-center list-unstyled"><a class="text-decoration-none d_link"
                    href="{% url 'navbar' %}">Navbar</a></li>
            <li class="text-center list-unstyled"><a class="text-decoration-none d_link"
                    href="{% url 'banner' %}">Banner</a></li>
            <li class="text-center list-unstyled"><a class="text-decoration-none d_link"
                    href="{% url 'about' %}">About</a></li>
            <li class="text-center list-unstyled"><a class="text-decoration-none d_link"
                    href="{% url 'skill' %}">Skills</a></li>
            <li class="text-center list-unstyled"><a class="text-decoration-none d_link"
                    href="{% url 'service' %}">Services</a></li>
            <li class="text-center list-unstyled"><a class="text-decoration-none d_link"
                    href="{% url 'portfolio' %}">Portfolio</a></li>
            <li class="text-center list-unstyled"><a class="text-decoration-none d_link d_active"
                    href="{% url 'testimonial' %}">Testimonial</a>
            </li>
            <li class="text-center list-unstyled"><a class="text-decoration-none d_link"
                    href="{% url 'contact' %}">Contact</a></li>
            <li class="text-center list-unstyled"><a class="text-decoration-none d_link"
                    href="{% url 'footer' %}">Footer</a></li>
        </ul>
        <div class="text-center">
            <a href="{% url 'logout' %}" class="link_color">Logout</a>
        </div>
    </div>
    <div class="dash_container">
        <div class="d_content d-flex">
            <div class="container">
                <h2>Testimonial Details</h2>
                <form class="common_form mt-5" action="{% url 'testimonial'%}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="b_input">
                        <label for="Name">Client's Name:</label>
                        <input type="text" id="Name" name="name" required>
                    </div>
                    <div class="b_input">
                        <label for="t_name">Tag Name:</label>
                        <input type="text" id="t_name" name="t_name" required>
                    </div>
                    <div class="b_input">
                        <label for="com">Comments:</label>
                        <textarea name="comments" id="com"
                            required></textarea>
                    </div>
                    <div class="b_input">
                        <label for="c_im">Client's image</label>
                        <input type="file" name="c_im" id="c_im" required>
                    </div>
                    <div class="contactBtn">
                        <button type="submit" class="submitBtn">Add</button>
                    </div>
                </form>
            </div>
            <div class="client_table mt-5 pe-5">
                <table class="client_table">
                    <tr>
                        <th>Client Name:</th>
                        <th>Operation</th>
                    </tr>
                    {% if information %}
                        {% for info in information %}
                            <tr>
                                <td><a href="#">{{info.client_name}}</a></td>
                                <td><a href="{% url 'delete_review' info.id %}" class="text-decoration-none link_color">Remove</a></td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td>No Reviews</td>
                        </tr>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock body %}