{% extends "base.html" %}
{% block title %}Dashboard | Testimonial{% endblock title %}
{% block body %}
    <div class="dash_container">
        <div class="dashboard_navbar">
            <div class="dash_title">
                <h1 class="mb-0">Dashboard</h1>
            </div>
            <h5 class="website"><a href="/" target="_blank">Website <i class="fa-solid fa-arrow-up-right-from-square"></i></a></h5>
            <ul class="p-0">
                <li class="text-center list-unstyled"><a class="text-decoration-none d_link" href="{% url 'navbar' %}">Navbar</a></li>
                <li class="text-center list-unstyled"><a class="text-decoration-none d_link" href="{% url 'banner' %}">Banner</a></li>
                <li class="text-center list-unstyled"><a class="text-decoration-none d_link" href="{% url 'about' %}">About</a></li>
                <li class="text-center list-unstyled"><a class="text-decoration-none d_link" href="{% url 'skill' %}">Skills</a></li>
                <li class="text-center list-unstyled"><a class="text-decoration-none d_link" href="{% url 'service' %}">Services</a></li>
                <li class="text-center list-unstyled"><a class="text-decoration-none d_link" href="{% url 'portfolio' %}">Portfolio</a></li>
                <li class="text-center list-unstyled"><a class="text-decoration-none d_link d_active" href="{% url 'testimonial' %}">Testimonial</a>
                </li>
                <li class="text-center list-unstyled"><a class="text-decoration-none d_link" href="{% url 'contact' %}">Contact</a></li>
                <li class="text-center list-unstyled"><a class="text-decoration-none d_link" href="{% url 'footer' %}">Footer</a></li>
            </ul>
            <div class="text-center">
                <a href="{% url 'logout' %}">Logout</a>
            </div>
        </div>
        <div class="d_content">
            <div class="container">
                <h2>Testimonial Details</h2>
                <form action="{% url 'Clientcontact'%}" method="post">
                    {% csrf_token %}
                    <label for="Name">Name:</label>
                    <input type="text" id="Name" name="name" required>
                    <label for="Email">Email:</label>
                    <input type="email" id="Email" name="email" required>
                    <label for="Phn">Phone:</label>
                    <input type="number" id="Phn" name="phone" required>
                    <div class="contactBtn">
                        <button type="submit" class="actionBtn">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock body %}